openapi: "3.0.0"
info:
  title: RepEat
  version: v1

paths:
  /v1/rep-eat/users:
    get:
      tags:
        - UsersController
      operationId: getAUsers
      parameters:
        - in: query
          name: pageNumber
          schema:
            type: integer
            default: 0
          required: false
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 5
          required: false
      responses:
        200:
          description: OK
        400:
          description: ERROR